<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
    <span>Herobio</span>
</mat-toolbar>
<mat-card class="card" *ngFor="let hero of heroes">
    <mat-card-header>
        <div mat-card-avatar class="card-header"></div>
        <mat-card-title>{{hero.name}}</mat-card-title>
        <mat-card-subtitle>{{hero.province}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{hero.imageUrl}}" alt="Photo of a {{hero.name}}">
    <mat-card-content>
        {{hero.description}}
    </mat-card-content>
</mat-card>
<router-outlet></router-outlet>